In [ ]:
import pandas as pd
import numpy as np

## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки [data](https://drive.google.com/drive/folders/1YAMe7MiTxA-RSSd8Ex2p-L0Dspe6Gs4L). 

Для таблицы transactions используйте только первые n=1000000 строк. При чтении файлов обратите внимание на разделители внутри каждого из файлов - они могут различаться!

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

In [ ]:
!gdown 1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc

Downloading...
From: https://drive.google.com/uc?id=1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc
To: /content/tr_types.csv
100% 14.2k/14.2k [00:00<00:00, 19.5MB/s]

In [ ]:
!gdown 1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT

Downloading...
From: https://drive.google.com/uc?id=1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT
To: /content/gender_train.csv
100% 99.9k/99.9k [00:00<00:00, 43.3MB/s]

In [ ]:
!gdown 1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq

Downloading...
From: https://drive.google.com/uc?id=1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq
To: /content/transactions.csv
100% 314M/314M [00:01<00:00, 203MB/s]

In [ ]:
!gdown 10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE

Downloading...
From: https://drive.google.com/uc?id=10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE
To: /content/tr_mcc_codes.csv
100% 14.9k/14.9k [00:00<00:00, 20.3MB/s]

In [ ]:
transactions = pd.read_csv(filepath_or_buffer = "transactions.csv",
           sep = ',',
           nrows = 1000000)
transactions.head(3)

   customer_id tr_datetime  mcc_code  tr_type    amount term_id
0     39026145  0 10:23:26      4814     1030  -2245.92     NaN
1     39026145  1 10:19:29      6011     7010  56147.89     NaN
2     39026145  1 10:20:56      4829     2330 -56147.89     NaN

In [ ]:
gender_train = pd.read_csv('gender_train.csv',
                           sep = ',')
gender_train.head(3)

   customer_id  gender
0     10928546       1
1     69348468       1
2     61009479       0

In [ ]:
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv',
                           sep = ';')
tr_mcc_codes.head(3)

   mcc_code                                    mcc_description
0       742                                Ветеринарные услуги
1      1711  Генеральные подрядчики по вентиляции, теплосна...
2      1731                        Подрядчики по электричеству

In [ ]:
tr_types = pd.read_csv('tr_types.csv',
                           sep = ';')
tr_types

     tr_type                                     tr_description
0       3200  Плата за предоставление услуг посредством моби...
1       3210  Плата за предоставление отчета по счету карты ...
2       3800  Плата за обслуживание банковской карты (за пер...
3       4000            Плата за получение наличных в Сбербанке
4       4001  Плата за получение наличных в Сбербанке (в дру...
..       ...                                                ...
150     2990                             Списание по требованию
151     2992  Списание средств для погашения задолженности п...
152     3001            Комиссия за обслуживание ссудного счета
153     3030  Плата за обслуживание банковской карты (за пос...
154     3120                Плата за досрочный перевыпуск карты

[155 rows x 2 columns]


Задания 1-4 делаются без использования merge!

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

In [ ]:
tr_types_sample = transactions.tr_type.sample(n = 1000)
atm_pos_types = tr_types[tr_types.tr_description.str.contains("АТМ|POS")]['tr_type']
tr_types_sample.isin(atm_pos_types).sum() / 1000

0.613

## Задание 2

1. Для столбца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости (вывести для них tr_description тоже).

In [ ]:
types = transactions.groupby(['tr_type'])
top_ten = types.size().sort_values(ascending=False).iloc[:10]
df = top_ten.to_frame()
#df = df.reset_index()
df = df.rename(columns={0:"frequency"})
tr_types_copy = tr_types.copy()
tr_types_copy = tr_types_copy.set_index('tr_type')
df.insert(1,"tr_desc",tr_types_copy.tr_description)
df

         frequency                                            tr_desc
tr_type
1010        231117                              Покупка. POS ТУ СБ РФ
2010        151166              Выдача наличных в АТМ Сбербанк России
7070        149006  Перевод на карту (с карты) через Мобильный бан...
1110        137658                             Покупка. POS ТУ Россия
1030        118975                     Оплата услуги. Банкоматы СБ РФ
2370         49830  Списание с карты на карту по операции <перевод...
7010         28972       Взнос наличных через АТМ (в своем тер.банке)
7030         26078  Перевод на карту (с карты) через АТМ (в предел...
7071         15781  Перевод на карту (с карты) через Мобильный бан...
1100         15476                                Покупка. ТУ  Россия

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов

In [ ]:
groups = transactions.groupby(['customer_id'])
income = groups.apply(lambda x: x[x['amount'] > 0]['amount'].sum())
expenses = groups.apply(lambda x: x[x['amount'] < 0]['amount'].sum())
top_income = income.sort_values(ascending=False).iloc[:1]
top_expenses = expenses.sort_values(ascending=True).iloc[:1]
abs(income[top_income.index] + expenses[top_income.index])

customer_id
70780820    1837317.98
dtype: float64

## Задание 4
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций для клиентов из задания 3

In [ ]:
#1
task2 = transactions[transactions.tr_type.isin(df.index)]
task2_grouped = task2.groupby(['tr_type'])
task2_mean = task2_grouped.amount.mean()
task2_median = task2_grouped.amount.median()
display(task2_mean)
display(task2_median)
#2
task3 = transactions[transactions.customer_id.isin(top_income.index)]
task3_grouped = task3.groupby(['tr_type'])
task3_mean = task3_grouped.amount.mean()
task3_median = task3_grouped.amount.median()
display(task3_mean)
display(task3_median)

tr_type
1010    -19784.748640
1030     -5320.980222
1100    -44061.827262
1110    -32119.330371
2010   -136077.629325
2370   -205418.249032
7010    276391.789596
7030     86104.332909
7070     65569.831700
7071     66806.826623
Name: amount, dtype: float64

tr_type
1010     -7411.52
1030     -2245.92
1100    -10188.26
1110    -11207.57
2010    -44918.32
2370    -44918.32
7010    112295.79
7030     13951.52
7070     11319.42
7071      3593.47
Name: amount, dtype: float64

tr_type
2010   -2.941056e+06
2330   -2.382398e+06
2370   -2.218505e+06
6110    1.756293e+04
7020    1.465129e+04
7021    2.850067e+04
7030    1.406196e+04
7031    1.921036e+04
7034    1.430648e+04
7040    2.153833e+04
7070    1.384821e+04
7071    1.860057e+04
7074    2.281159e+04
Name: amount, dtype: float64

tr_type
2010   -3368873.660
2330   -2245915.770
2370   -2245915.770
6110      10028.010
7020      10319.985
7021      28500.670
7030       8848.910
7031      12992.620
7034      14306.480
7040      14396.320
7070       8714.150
7071      12543.440
7074       9387.930
Name: amount, dtype: float64

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

,customer_id,tr_datetime,mcc_code,tr_type,amount,term_id,gender,mcc_description,tr_description
999580,76313007,188 08:11:09,6011,7015,112295.79,NaN,NaN,Финансовые институты — снятие наличности автом...,Взнос наличных через АТМ (в других ТБ) по счет...
999581,19769561,445 10:26:16,6011,7015,463781.61,145075,NaN,Финансовые институты — снятие наличности автом...,Взнос наличных через АТМ (в других ТБ) по счет...
999582,701335,311 21:30:25,6011,7015,11229.58,391269,NaN,Финансовые институты — снятие наличности автом...,Взнос наличных через АТМ (в других ТБ) по счет...
999583,74697056,222 12:15:19,6011,7015,112295.79,650927,NaN,Финансовые институты — снятие наличности автом...,Взнос наличных через АТМ (в других ТБ) по счет...

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

In [ ]:
#1
groups = transactions.groupby(['gender'])
waste = groups.apply(lambda x: x[x['amount'] < 0]['amount'].mean())
print(abs(waste.iloc[0] - waste.iloc[1]))
#2
income = groups.apply(lambda x: x[x['amount'] > 0]['amount'].mean())
print(abs(income.iloc[0] - income.iloc[1]))

32718.054920224655
63366.57104801461

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 типов транзакций для мужчин и для женщин, наименьших среди всех типов транзакций по полученным значениям "max_income". 
2. Выделите среди них те типы транзакций, которые встречаются одновременно и у мужчин, и у женщин

## Задание 7

1. Найдите суммы затрат по каждой категории (mcc) для мужчин и для женщин. 
2. Найдите топ 10 категорий с самыми большими относительными модулями разности в тратах для разных полов (в ответе должны присутствовать описания mcc кодов).

In [ ]:
#1
sum_expenses = transactions[transactions['amount'] < 0].groupby(["gender", "mcc_code"])["amount"].sum()
print(sum_expenses)

gender  mcc_code
0.0     742          -386207.68
        1711         -674897.69
        1799         -261626.73
        2741          -20746.42
        3000       -74431645.27
                       ...
1.0     8999       -28643346.63
        9222         -988205.17
        9311         -373271.22
        9399        -1810820.67
        9402           -4581.67
Name: amount, Length: 349, dtype: float64

In [ ]:
#2
top = abs(sum_expenses[0] - sum_expenses[1]).sort_values(ascending=False).head(10)
print(tr_mcc_codes[tr_mcc_codes["mcc_code"].isin(top.index)])

     mcc_code                                    mcc_description
22       4829                                  Денежные переводы
62       5511  Легковой и грузовой транспорт — продажа, серви...
64       5533                          Автозапчасти и аксессуары
65       5541                            Станции техобслуживания
75       5661                                   Обувные магазины
90       5812             Места общественного питания, рестораны
116      5977                                 Магазины косметики
123      6010   Финансовые институты — снятие наличности вручную
124      6011  Финансовые институты — снятие наличности автом...
162      7995                       Транзакции по азартным играм

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте количество транзакций с amount<0 в ночное время для мужчин и женщин. Ночное время - это примерно 00-06 часов.